.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(65deg,rgb(219, 173, 216)35%,azure 62%,rgb(118, 198, 130));
}
.auth-form-container,.login-form,.register-form
{
  display: flex;
  flex-direction: column; 
}
.auth-form-container{
  padding:5rem ;
  border: 1px solid black;
  border-radius: 10px;
  margin:0.5 rem;
  background-image: #4b8b9f,#ccc;
}
label{
  text-align: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.login-button{
  margin-top: 10px;
 margin-left: 0.27rem;
 width: 15%;
 background-color: #bfd280;
color: white;
transition-duration: 0.4s;
border-radius: 10px;
cursor: pointer;
}
.b1{
  margin-top: 15px;
  padding: 0.15rem;
  width: 50%;
  margin-left: 160px;
  transition-duration: 0.4s;
  border: none;
  border-radius: 10px;
  background:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  cursor: pointer;
}
.register-button{
 margin-top: 15px;
 width: 20%;
 background-color: #bfd280;
  color: white;
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}
.b2{
  margin-top: 15px;
  padding: 0.15rem;
  width: 45%;
  margin-left: 240px;
  border: none;
  transition-duration: 0.4s;
  border-radius: 10px;
  background:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  cursor: pointer;
}
.login-button:hover{
  margin-top: 10px;
 margin-left: 0.27rem;
 width: 15%;
 background-color: #656466;
color: white;
border-radius: 10px;
cursor: pointer;

}
.register-button:hover{
 margin-top: 15px;
 width: 20%;
 background-color: #656466;
color: white;
border-radius: 10px;
cursor: pointer;
}
input{
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 60px;
}
